@model IEnumerable<TestViewModel>
@using Community.Model.Entities.ViewModels;
@if (Model.Any()){
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                @foreach(var item in Model){
					<div class="post-preview">
						<a href="@item.URL">
							<h2 class="post-title">
								@item.Title
							</h2>
							<h3 class="post-subtitle">
								@item.Summary
							</h3>
						</a>
						<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
					</div>
					<hr>
				}
                <!--<ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>
}