@if(ViewBag.Image != null && ViewBag.HeaderText != null){
	<header class="intro-header" style="background-image: url('@ViewBag.Image')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>@ViewBag.HeaderText</h1>
                        <hr class="small">
                        <span class="subheading">@ViewBag.SubHeaderText</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
}