@model IEnumerable<TestViewModel>
@using Community.Model.Entities.ViewModels;
@if (Model.Any()){
    <div class="active-section" id="blog">
	<section class="section-block">
		<h4 class="title">@Html.Raw(ViewBag.HeaderText)</h4>
		<div class="row">
			<div class="col-md-12">
				<div id="rex-blog-slider">
					@foreach(var item in Model){
					<div class="col-sm-6 col-md-4 post-holder">
						<div class="thumbnail rex-blog-section">
							<img src="@item.ThumbnailUrl" class="post-image">
							<div class="rex-caption">
								<a href="@item.URL"><h6 class="post-title">@item.Title</h6></a>
								<p class="post-summary">@item.Summary</p>
								@if((ViewBag.ReadMore != null) && ((ViewBag.ReadMore != ""))){
									<a href="@item.URL" class="">@Html.Raw(ViewBag.ReadMore)  </a>
								}
							</div>
							<div class="post-meta">
								<!--<a href="javascript:void(0)"><i class="fa fa-share-alt"></i></a>
								<a href="javascript:void(0)"><i class="fa fa-comment"></i>20</a>
								<a href="javascript:void(0)"><i class="fa fa-heart"></i>65</a>-->
							</div>
						</div>
					</div>
					}
					
				</div>
			</div>
		</div>
	</section>
</div>
<BR><BR>
}