@using Community.Model.Entities.ViewModels
@model IEnumerable<MenuViewModel>
	<div class="main-menu nav-down">
	<div id="rex-sticky-sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 55px;"><div id="rex-sticky" style="width: 1349px; position: fixed; top: 0px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 menu-section">
			      
  <div class="menu-button one-page">Menu<span class="touch-button"><i class="navicon fa fa-plus"></i></span></div>
  <nav>
    <ul id="navigation-menu" data-breakpoint="992" class="flexnav one-page with-js opacity lg-screen">
      @foreach(var menu in Model){
			<li><a href="~/@menu.MenuUrl.ToLower()">@menu.Name</a></li>	
		}
		@await Component.InvokeAsync("Culture", new {Template = "mpurpose", Website= @ViewBag.WebsiteName ,Culture = @ViewBag.Culture})		
    </ul>	
  </nav>				
				</div>
			</div>
		</div>
	</div></div>
</div>