<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.3.0/ng-infinite-scroll.min.js"></script>
@if(ViewData["ComponentsToLoadBody"] != null){
				@foreach(var items in ViewData["ComponentsToLoadBody"] as string[]){
					try{
					@await Component.InvokeAsync("EakDamDynamic", new {WhatValue = items , culture= @ViewBag.Culture, template = ViewBag.Template})
					}
					catch{
						
					}
				}
			}
 <div class="container">
        <div class="row" ng-controller='DataController' >
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" infinite-scroll='loadMore()' infinite-scroll-distance='0.2'>
                
					<div class="post-preview" ng-repeat='item in data'>
						<a href="{{item.URL}}">
							<h2 class="post-title">
								{{item.Title}}
							</h2>
							<h3 class="post-subtitle">
								{{item.Summary}}
							</h3>
						</a>
						<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
					</div>
					<hr>				
            </div>
        </div>
    </div>

    <script>
	var myApp = angular.module('community', ['infinite-scroll']);
	myApp.controller('DataController', function($scope,$http) {
	$scope.data = [];
  	 $scope.loadMore = function() {
	 if ($scope.data == undefined){
		 var pageno = 0;
	 } 
	 else{
		 var pageno = ($scope.data.length)/ 10;
	 }
	 var url = '@ViewBag.ApiUrl' + pageno;
	 $http.get(url).success(function (res){
		$scope.data = $scope.data.concat(res);		
		});	     
  };
});
	angular.element(document).ready(function() {
      angular.bootstrap(document, ['community']);	  
    });
</script>