@model IEnumerable<TestViewModel>
@using Community.Model.Entities.ViewModels;
	<section class="tc-padding gray-bg">
				<div class="container">
					
					<!-- Main Heading -->
					<div class="main-heading style-2 add-p">
						<h2>Apply Course</h2>
						<p>Send us the message with the details and we will contact you soon.</p>
					</div>
					<!-- Main Heading -->

					<!-- Form -->
					<form id="contact-form" class="row">
						<div class="col-sm-4 col-xs-4 r-full-width">
							<div class="form-group">
						      	<input type="text" required="required">
						      	<label class="control-label">Name</label><i class="bar"></i>
						    </div>
					    </div>
					    <div class="col-sm-4 col-xs-4 r-full-width">
							<div class="form-group">
						      	<input type="text" required="required">
						      	<label class="control-label">Email *</label><i class="bar"></i>
						    </div>
					    </div>
					    <div class="col-sm-4 col-xs-4 r-full-width">
							<div class="form-group">
						      	<input type="text" required="required">
						      	<label class="control-label">Phone</label><i class="bar"></i>
						    </div>
					    </div>
					    <div class="col-sm-12 col-xs-12 r-full-width">
						    <div class="form-group m-0">
						      	<textarea required="required"></textarea>
						      	<label class="control-label">Message *</label><i class="bar"></i>
						    </div>
					    </div>
					    <div class="col-sm-12 col-xs-12 r-full-width">
					    	<button class="btn blue z-depth-1">Send Message<i class="fa fa-send"></i></button>
						</div>
					</form>
					<!-- Form -->

				</div>
			</section>
