<section class="client-logo tc-padding">
  <div class="container">
    <div class="main-heading-holder">
      <div class="main-heading">
        <h2>Our Clients</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing aelit, sed do eiusmod tempor incididunt.</p>
      </div>
    </div>
      <ul class="client-logo-slider">
        <li><a href="#"><img src="images/client-logos/img-01.jpg" alt=""></a></li>
        <li><a href="#"><img src="images/client-logos/img-02.jpg" alt=""></a></li>
        <li><a href="#"><img src="images/client-logos/img-03.jpg" alt=""></a></li>
        <li><a href="#"><img src="images/client-logos/img-04.jpg" alt=""></a></li>
        <li><a href="#"><img src="images/client-logos/img-05.jpg" alt=""></a></li>
        <li><a href="#"><img src="images/client-logos/img-06.jpg" alt=""></a></li>
      </ul>
    </div>
  </section>