@model IEnumerable<TestViewModel>
@using Community.Model.Entities.ViewModels;
@if (Model.Any()){
<section class="comming-events tc-padding gray-bg">
				<div class="container">
					<div class="main-heading-holder">
						<div class="main-heading">
							<h2>@Html.Raw(ViewBag.HeaderText)</h2>
							<p>@Html.Raw(ViewBag.SubHeaderText)</p>
						</div>
					</div>
					<div class="row">
						   @foreach(var item in Model){
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 r-full-width">
							<div class="event-column z-depth-2">
								<img src="@item.ThumbnailUrl" alt="">
								<div class="event-detail overlay">
									<h4>How to speake like a native speaker?</h4>
									<ul>
										<li>
											<p>@item.Summary</p>	
										</li>
									</ul>
									<a class="circle-btn" href="@item.URL">+</a>
								</div>
							</div>
						</div>
					 }
					</div>
				</div>
			</section>
}