@model IEnumerable<TestViewModel>
@using Community.Model.Entities.ViewModels;
@if (Model.Any()){
<section class="our-courses tc-padding white-bg" style="border:none">
				<div class="container">
					<div class="main-heading-holder">
						<div class="main-heading">
							<h2>@Html.Raw(ViewBag.HeaderText)</h2>
							<p>@Html.Raw(ViewBag.SubHeaderText)</p>
						</div>
					</div>
					<div class="courses-slider-3">
             @foreach(var item in Model){
						<div class="item">
							<div class="course-column tc-hover">
								<div class="course-img">
									<img src="@item.ThumbnailUrl" alt="">
								</div>
								<div class="course-detail">
									<span class="date"><i class="fa fa-calendar"></i>December 4, 2016</span>
									<h3><a href="@item.URL">@item.Title</a></h3>
									<p>@item.Summary</p>
									 @if((ViewBag.ReadMore != null) && ((ViewBag.ReadMore != ""))){
									<a class="btn blue sm" href="@item.URL">@Html.Raw(ViewBag.ReadMore)<i class="fa fa-angle-right"></i></a>
									 }
								</div>
							</div>
						</div>
             }
					</div>
				</div>
</section>
}