@model IEnumerable<TestViewModel>
@using Community.Model.Entities.ViewModels;
@if(Model.Any()){    
	<div class="tc-padding-bottom">
				<div class="container">
					<div class="contact-inner">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-5">
								<div class="contact-address z-depth-1">
									<h3>Contact Info</h3>
									<p>PO Box CT16122 Collins Street West, Victoria 8007, Australia.</p>
									<ul class="address-list">
										<li><i class="fa fa-phone"></i>+1 (2) 345 6789</li>
										<li><i class="fa fa-fax"></i>+1 (2) 345 6789</li>
										<li><i class="fa fa-envelope"></i>contact@yourdomain.com</li>
									</ul>
									<div class="social-icons-2">
										<ul>
											<li><a class="fa fa-twitter-square" href="#"></a></li>
											<li><a class="fa fa-facebook-square" href="#"></a></li>
											<li><a class="fa fa-linkedin-square" href="#"></a></li>
											<li><a class="fa fa-pinterest-square" href="#"></a></li>
											<li><a class="fa fa-google-plus-square" href="#"></a></li>
											<li><a class="fa fa-github-square" href="#"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-7">
								<div id="contact-map" class="contact-map-holder z-depth-1"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<section class="tc-padding white-bg">
				<div class="container">
					
					<!-- Main Heading -->
					<div class="main-heading style-2 add-p">
						<h2>Leave a Message</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing aelit, sed do eiusmod tempor incididunt.</p>
					</div>
					<!-- Main Heading -->

					<!-- Form -->
					<form id="contact-form" class="row">
						<div class="col-sm-4 col-xs-4 r-full-width">
							<div class="form-group">
						      	<input type="text" required="required"/>
						      	<label class="control-label">Name</label><i class="bar"></i>
						    </div>
					    </div>
					    <div class="col-sm-4 col-xs-4 r-full-width">
							<div class="form-group">
						      	<input type="text" required="required"/>
						      	<label class="control-label">Email *</label><i class="bar"></i>
						    </div>
					    </div>
					    <div class="col-sm-4 col-xs-4 r-full-width">
							<div class="form-group">
						      	<input type="text" required="required"/>
						      	<label class="control-label">Phone</label><i class="bar"></i>
						    </div>
					    </div>
					    <div class="col-sm-12 col-xs-12">
						    <div class="form-group m-0">
						      	<textarea required="required"></textarea>
						      	<label class="control-label">Message *</label><i class="bar"></i>
						    </div>
					    </div>
					    <div class="col-sm-12 col-xs-12">
					    	<button class="btn blue z-depth-1">Send Message<i class="fa fa-send"></i></button>
						</div>
					</form>
					<!-- Form -->

				</div>
			</section>
}