@using Community.Model.Entities.ViewModels;
@model IEnumerable<MenuViewModel>	
@if (Model.Any()){
		<div class="top-bar">
				<div class="container">
					<div class="address-list-top">
						<ul>
							<li><i class="fa fa-phone"></i>98510 0000</li>
							<li><i class="fa fa-envelope"></i>info.isdnepal.com</li>
						</ul>
					</div>
					<div class="login-option">
						<a data-toggle="modal" data-target=".login-modal" href="#">Languages<i class="fa fa-eye"></i></a>
					</div>
				</div>
		</div>
			<div class="nav-holder z-depth-1">
				<div class="container">
					<div class="logo">
						<a href="http://@ViewBag.WebsiteName/@ViewBag.Culture"><img src="@ViewBag.WebsiteLogo" alt=""></a>
					</div>
					<div id="searching">
						<div id="searchThis">	
							<input type="text" placeholder="Search"/>
							<div id="closeSearch">X</div>
						</div>
						<div id="searchResults"></div>
					</div>
					<div class="nav-list" style="float:left">
						<ul>
							@foreach(var menu in Model){
								<li class=""><a href="~/@menu.MenuUrl.ToLower()">@menu.Name</a></li>
							}
						</ul>
					</div>
						<nav id="menu" class="responive-nav">
							<a class="r-nav-logo" href="http://@ViewBag.WebsiteName/@ViewBag.Culture"><img src="@ViewBag.WebsiteLogo" alt=""></a>
	    					<ul class="respoinve-nav-list">			 
								@foreach(var menu in Model){
								<li><a class="triple-eff" data-toggle="collapse" href="~/@menu.MenuUrl.ToLower()">@menu.Name</a></li>
								}
							</ul>
						</nav>
					<div class="responsive-btn">
						<a href="#menu" class="menu-link circle-btn"><i class="fa fa-bars"></i></a>
					</div>
				</div>
			</div>
}