@model IEnumerable<TestViewModel>
@using Community.Model.Entities.ViewModels;
@if(Model.Any()){    
 <div id="main-slider" class="carousel slide carousel-fade">
		        <div class="carousel-inner" role="listbox">
					@foreach(var item in Model){	            
		            <div class="item active">
		            	<img src="@item.Image" alt="">
		                <div class="container">
							<div class="caption position-center-center text-center h-white p-white">
								<h1 class="font-playfair animated fadeInUp delay-1">@item.Title</h1>
								<p class="animated fadeInUp delay-2">@item.Summary</p>
								<ul class="btn-list">
									<li><a class="btn blue animated fadeInLeft delay-3" href="#">Get Started Now</a></li>
									<li><a class="btn blank animated fadeInRight delay-3" href="#">Take a Tour</a></li>
								</ul>
							</div>
						</div>
		            </div> 
		            }	
		        </div>
		        <a class="slider-nav next" href="#main-slider" data-slide="prev"><i class="fa fa-long-arrow-right"></i></a>
		        <a class="slider-nav prev" href="#main-slider" data-slide="next"><i class="fa fa-long-arrow-left"></i></a>
		        <ul class="carousel-indicators">
		          	@foreach(var item in Model){
						<li data-target="#main-slider" data-slide-to="0" class="active"></li>					
					}
		        </ul>
		    </div>
}