
<section id="home" class="scroll-section root-sec grey lighten-5 home-wrap">
      <div class="sec-overlay">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-inner">
                  <div class="center-align home-content">
                    <h1 class="home-title">@Html.Raw(ViewBag.HeaderText)</span></h1>
                    <h2 class="home-subtitle">@Html.Raw(ViewBag.SubHeaderText)</h2>
                    <a href="@ViewBag.ButtonUrl" class="hire-me-btn btn waves-effect waves-light btn-large brand-bg white-text regular-text">{{componentbuttontext}}<i class="mdi-content-send left"></i>
                    </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-call-to-area">
          <div class="container">
            <div class="row">
              <a href="#about" class="btn-floating btn-large button-middle call-to-about section-call-to-btn animated btn-show" data-section="#about">
                <i class="mdi-navigation-expand-more"></i>
              </a>
            </div>
          </div>          
        </div>
      </div>
    </section>

