@using Community.Model.Entities.ViewModels;
@model IEnumerable<TestViewModel>
@if (Model.Any()){
<!--<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>@ViewBag.HeaderText</h1>
					</div>
				</div>
			</div>
		</div>-->
        <!-- Posts List -->
		<div class="section">
			<div class="container">
				<h2>@Html.Raw(@ViewBag.HeaderText)</h2>
					 <div class="section blog-posts-wrapper">
	    	<div class="container">
				<div class="row">
					@foreach(var item in Model){
					<div class="col-md-4 col-sm-6 post-holder">
						<div class="blog-post"> 
							<div class="post-info">
								<div class="post-date"> 
									<div class="date">@item.CreatedDate</div>
								</div>  
								<!--<div class="post-comments-count">
									<a href="@item.URL" title="Show Comments"><i class="glyphicon glyphicon-comment icon-white"></i>11</a>
								</div>-->
							</div>
							<a href="@item.URL"><img src="@item.ThumbnailUrl" class="post-image img-responsive" alt="@item.Title"></a>
							<div class="blog-details">
								<div class="post-title">
									<h3><a class="blog-title" href="@item.URL">@item.Title</a></h3>
								</div>
								<div class="post-summary">
									<p class="blog-summary">@item.Summary</p>
								</div>
								@if((ViewBag.ReadMore != null) && (ViewBag.ReadMore != "")){
									<div class="post-more">
										<a href="@item.URL" class="btn btn-small">@Html.Raw(ViewBag.ReadMore)</a>
									</div>
								}
							</div>
						</div>
					</div>
				}
				</div>
			</div>
	    </div>	
				
			</div>
	    </div>
       
}