@using Community.Model.Entities.ViewModels
@model IEnumerable<MenuViewModel>
<div class="menuextras">
		<div class="extras">
			<ul>
				<li>
					@await Component.InvokeAsync("Culture", new {Template = @ViewBag.Template, Website= @ViewBag.WebsiteName ,Culture = @ViewBag.Culture})					
			  </li>
		  </ul>
	  </div>
</div>
<nav id="mainmenu" class="mainmenu">
	<ul>
		<li class="logo-wrapper">
			<a href="http://@ViewBag.WebsiteName/@ViewBag.Culture">
				<img src="@ViewBag.WebsiteLogo" alt="">
			</a>
		</li>
		@foreach(var menu in Model){
			<li><a href="~/@menu.MenuUrl.ToLower()">@menu.Name</a></li>	
		}				
	</ul>
</nav>