@if(ViewBag.Image != null && ViewBag.HeaderText != null){
<div class="homepage-slider">
	<article class="container top-container" id="top">
		<div class="row">
			<div class="col-md-4 col-sm-12">
			    <span class="image-holder-top"><img src="@ViewBag.Image" alt="" /></span>
			</div>
			<div class="col-md-8 col-sm-12">
                <header>
				    <h1 class="top-h1-header">@Html.Raw(ViewBag.HeaderText)</h1>
				</header>
				 <p class="bio-holder">@Html.Raw(ViewBag.SubHeaderText)</p>
				 @if (@ViewBag.ButtonText != null){
				 	<a href="@ViewBag.ButtonUrl" class="btn btn-primary btn-lg">@Html.Raw(ViewBag.ButtonText)</a>
				 }
		    </div>
	    </div>
    </article>
</div>
<style>
	.image-holder-top img{
    width: 20em;
    height: 20em;
    margin: 0;
    border-radius: 50%;
}

.top-h1-header{
	margin-top: 0.35em;
}

.bio-holder{
    font-size: 1.5em;
    line-height: 1.75em;
}

.top-container{
  margin:150px;
}

@@media (max-width:480px){
  .top-container{ 
     margin:5px; 
  }
}


@@media (max-width:620px){
  .top-container{ 
     margin:15px; 
  }
}
</style>
}