@model IEnumerable<TestViewModel>
@using Community.Model.Entities.ViewModels;
<div class="wrapper style2">
				<article id="work">
					<header>
						<h2>@ViewData["HeaderText"]</h2>
						<p>@ViewData["SubHeaderText"]</p>
					</header>
					<div class="container">
						<div class="row">
						@foreach(var item in Model){
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<a href="@item.URL" class="image featured"><img src="@item.ThumbnailUrl" alt="" /></a>
									<h3><a href="@item.URL">@item.Title</a></h3>
									<p>@item.Summary</p>
								</section>
							</div>
						}
						</div>
					</div>
					<footer> 
						<p>@ViewData["FooterText"]</p>
						<a href="@ViewData["ButtonUrl"]" class="button big scrolly">@ViewData["ButtonText"]</a>
					</footer>
				</article>
</div>