@model IEnumerable<TestViewModel>
@using Community.Model.Entities.ViewModels;
@if(Model.Any()){
	<div class="col-sm-10">
		<h4>@Html.Raw(ViewBag.HeaderText)</h4>
		<ul class="recent-posts">
			@foreach(var items in Model){		
				<li><a href="@items.URL">@items.Title@items.Name</a></li>
			}
		</ul>
	</div>
}