@model IEnumerable<TestViewModel>
@using Community.Model.Entities.ViewModels;
<div class="col-sm-10">
<h4>@Html.Raw(@ViewBag.HeaderText)</h4>
<!--<ul class="recent-posts">
	@foreach(var items in Model){		
		<li><a href="@items.URL">@items.Title@items.Name</a></li>
	}
</ul>-->
@foreach(var item in Model){
	
		<div class="portfolio-item">
			<div class="portfolio-image">
				<a href="page-portfolio-item.html"><img src="@item.ThumbnailUrl" alt="@item.Title@item.Name"></a>
			</div>
			<div class="portfolio-info-fade">
				<ul>
					<li class="portfolio-project-name">@item.Title@item.Name</li>
					<!--<li>@item.Summary</li>-->
					<li class="read-more"><a href="@item.URL" class="btn">View Video</a></li>
				</ul>
			</div>
		</div>
	
}	
</div>