@model IEnumerable<TestViewModel>
@using Community.Model.Entities.ViewModels;
@if(Model.Any()){        
		<div class="homepage-slider">
        	<div id="sequence">
				<ul class="sequence-canvas">					
					@foreach(var item in Model){
						<li class="bg1">
							<h2 class="title">@item.Title</h2>
							<h3 class="subtitle">@item.Summary</h3>
							<img class="slide-img" src="@item.Image" alt="Slide 3" />
						</li>
					}
				</ul>
				<div class="sequence-pagination-wrapper">
					<ul class="sequence-pagination">
						@foreach (var items in Model){
							<li>1</li>						
						}
					</ul>
				</div>
			</div>
        </div>
}