@model IEnumerable<TestViewModel>
@using Community.Model.Entities.ViewModels;
<h4>@ViewBag.HeaderText</h4>
	<div class="row">
	@foreach(var items in Model){
		
		<h5 class="col-md-4">
			<a href="~/@ViewBag.Webiste@items.URL"><span class="label label-default">@items.Name</span></a>
		</h5>
	}
	</div>