@if(ViewBag.Image != null && ViewBag.HeaderText != null){
<div class="wrapper style1 first">
	<article class="container" id="top">
		<div class="row">
			<div class="4u 12u(mobile)">
			    <span class="image fit"><img src="@ViewBag.Image" alt="" /></span>
			</div>
			<div class="8u 12u(mobile)">
                <header>
				    <h1>@Html.Raw(ViewBag.HeaderText)</h1>
				</header>
				 <p>@Html.Raw(ViewBag.SubHeaderText)</p>
				 @if (@ViewBag.ButtonText != null){
				 	<a href="@ViewBag.ButtonUrl" class="button big scrolly">@ViewBag.ButtonText</a>
				 }
		    </div>
	    </div>
    </article>
</div>
}