
<!DOCTYPE html>
<!-- saved from url=(0041)http://demo.rextheme.com/imrex/index.html -->
<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="" style=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="http://demo.rextheme.com/imrex/apple-touch-icon.png">        
    <link rel="stylesheet" href="~/DesignAssets/IAmRex/font-awesome.min.css">
    <link rel="stylesheet" href="~/DesignAssets/IAmRex/animate.min.css">
    <link rel="stylesheet" href="~/DesignAssets/IAmRex/owl.carousel.css">
    <link rel="stylesheet" href="~/DesignAssets/IAmRex/owl.transitions.css">
    <link rel="stylesheet" href="~/DesignAssets/IAmRex/style.css">
    <script src="~/DesignAssets/IAmRex/modernizr.js"></script>
  </head>
  <body class="single">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Loader to display before content Load-->
  <!-- Add your site or application content here -->

	<!--<header class="header">
  <div class="container">
    <div class="row" role="banner">
      <div class="col-md-6">
        <div class="logo">
          <img src="~/DesignAssets/IAmRex/logo.png" alt="Logo">
        </div>
      </div>
      <div class="col-md-6 header-contact-address">
        <a href="mailto:name@yourdomain.com">name@yourdomain.com</a><br>
        <a href="tel:+00123456789">+00 (123) 456 789</a>
      </div>
    </div>
  </div>
</header>-->

	 @await Component.InvokeAsync("Navigation", new {Template = "IAmREx", Culture = @ViewBag.Culture})



	<span class="background"></span>
	<section class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					
@RenderBody()
					
				
					
					<br>
					<br>



					<footer>
						<div class="row">
							<div class="col-md-12">
								<p>@Html.Raw(@ViewBag.CopyrightNotice)</p>
							</div>
						</div>
					</footer>


				</div>
			</div>
		</div>
	</section>



    <script src="~/DesignAssets/IAmRex/jquery.js"></script>
    <script src="~/DesignAssets/IAmRex/grid.js"></script>
    <script src="~/DesignAssets/IAmRex/owl.carousel.min.js"></script>
    <script src="~/DesignAssets/IAmRex/wow.min.js"></script>
    <script src="~/DesignAssets/IAmRex/jquery.nav.js"></script>
    <script src="~/DesignAssets/IAmRex/typed.min.js"></script>
    <script src="~/DesignAssets/IAmRex/jquery.scrollUp.min.js"></script>
    <script src="~/DesignAssets/IAmRex/scroll.js"></script>
    <script src="~/DesignAssets/IAmRex/jquery.sticky.js"></script>
    <script src="~/DesignAssets/IAmRex/jquery.flexnav.min.js"></script>
    <script src="~/DesignAssets/IAmRex/masonry.pkgd.min.js"></script>
    <script src="~/DesignAssets/IAmRex/skrollr.js"></script>
    <script src="~/DesignAssets/IAmRex/script.js"></script>
<a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;">Scroll to top</a></body></html>
  


<!--<script>        
!function(e){"use strict";e.fn.firstVisitPopup=function(t){var i,o=e("body"),n=e(this),c=function(e,t){var i=new Date,o="expires=";i.setTime(i.getTime()+31536e6),o+=i.toGMTString(),document.cookie=e+"="+t+"; "+o+"; path=/"},p=function(e){var t=document.cookie.split(";"),i=0,o="";for(i=0;i<t.length;i++){for(o=t[i];" "===o.charAt(0);)o=o.substring(1,o.length);if(0===o.indexOf(e+"="))return o.substring(e.length+1,o.length)}return!1},f=function(){i.show(),n.show()},r=function(){i.hide(),n.hide(),c("fvpp"+t.cookieName,"true")};o.append('<div id="fvpp-blackout"></div>'),n.append('<a id="fvpp-close">&#10006;</a>'),i=e("#fvpp-blackout"),p("fvpp"+t.cookieName)?r():f(),e(t.showAgainSelector).on("click",f),o.on("click","#fvpp-blackout, #fvpp-close",r)}}(jQuery);
</script>       
<script>
    function TriggerCulture(){		
        $('#CultureSelectionMessage').firstVisitPopup({
        //cookieName : 'homepage',	
        showAgainSelector: '#show-message'
        });
    }
      setTimeout(function(){	
					TriggerCulture()},500); 		
</script>-->
@Html.Partial("_CultureOnTop")
@Html.Partial("_MatchHeight")
@Html.Partial("_AlwaysOnTop")

