@using Community.Model.Entities.ViewModels
@model BlogPostSingleViewModel
<section class="main single-blog">
		<div class="container">
			<div class="row">
				<div class="col-md-12 select-blog-list">
					<!--<img class="img-responsive" src="img/single_blog_post_image.jpg" alt="">-->
					<div class="single-post-image">
								@if(Model.ImageUrl != null){
								@if(!Model.ImageUrl.ToLower().Contains(".")){
									<iframe width="100%" height="400" src="https://www.youtube.com/embed/@Model.ImageUrl" frameborder="0" allowfullscreen></iframe>
								}else
								{
									<img class="img-responsive" src="@Model.ImageUrl">
								}
								}
					</div>
					<div class="single-blog-list">
						<div class="blog-title">
							<h3>@Model.Title</h3>
							<span>@Model.PublishDate</span>
						</div>
						@Html.Raw(Model.Content)
					</div>
					<!-- br section -->
					<br>
					<br>
					<!-- end -->
									</div>
				
			</div>
		</div>
		<hr class="hr">		
	</section>