@model IEnumerable<BlogPostViewModel>
@using Community.Model.Entities.ViewModels;
@{
   var Templatename = "miniport";//ViewBag.Template;  //To Be Taken From Session
   Layout = "~/Views/Shared/Layouts/" + Templatename + "layout.cshtml";
   //Layout = null;
}
@if (Model.Any()){
<div class="wrapper style3">
				<article> 
					<header>
						@if(@ViewData["HeaderText"] != null){
							<h2>@ViewData["HeaderText"]</h2>
						}
						@if(@ViewData["SubHeaderText"] != null){
							<p>@ViewData["SubHeaderText"]</p>
						}
					</header>
					<div class="container">
						<div class="row">
							@foreach(var item in Model){
							<div class="4u 12u(mobile) post-holder" >
								<article class="box style2">
									@if(item.ThumbnailUrl != null){
										<a href="@item.URL" class="image featured"><img class="post-image" src="@item.ThumbnailUrl"/></a>
									}
									<div class="post-title">
										<h3><a href="@item.URL">@item.Title</a></h3>
									</div>
									<p class="post-summary">@item.Summary</p>
								</article>
							</div> 
						}
						</div>
					</div>
					<!--<footer>
						@if(@ViewData["FooterText"] != null){
							<p>@ViewData["FooterText"]</p>
						}
						<a href="@ViewData["ButtonUrl"]" class="button big scrolly">@ViewBag.ReadMore</a>
					</footer>-->
				</article>
</div>
}