<!DOCTYPE HTML>
<!--
	Miniport by HTML5 UP
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>@ViewBag.Title</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="~/DesignAssets/Miniport/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="~/DesignAssets/Miniport/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="~/DesignAssets/Miniport/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="~/DesignAssets/Miniport/assets/css/ie9.css" /><![endif]-->
	</head>
	<body>
			@await Component.InvokeAsync("Navigation", new {Template = "miniport", Culture = @ViewBag.Culture})
				@RenderBody()
					<footer>
						<ul id="copyright">
							<li>@Html.Raw(@ViewBag.CopyrightNotice)</li>
							<!--<li>Design: <a href="http://html5up.net">AJ</a></li>							-->
						</ul>
					</footer>
				</article>
			</div>
		<!-- Scripts -->
			<script src="~/DesignAssets/Miniport/assets/js/jquery.min.js"></script>
			<script src="~/DesignAssets/Miniport/assets/js/jquery.scrolly.min.js"></script>
			<script src="~/DesignAssets/Miniport/assets/js/skel.min.js"></script>
			<script src="~/DesignAssets/Miniport/assets/js/skel-viewport.min.js"></script>
			<script src="~/DesignAssets/Miniport/assets/js/util.js"></script>			
			<!--[if lte IE 8]><script src="~/DesignAssets/Miniport/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="~/DesignAssets/Miniport/assets/js/main.js"></script>
@RenderSection("scripts", required: false)
			
<!--need to re write after fixing of 
			https://github.com/aspnet/Docs/issues/687#issuecomment-168711927
			https://github.com/aspnet/Mvc/issues/2910
			need to rewrite in Components >> cultures-->
			<!--Html.RenderPartial("_cultureOnTopPartial"); 			-->

@Html.Partial("_CultureOnTop")

@Html.Partial("_MatchHeight")

	</body>
</html>

<!--setTimeout(function(){
						
					},1500);-->