<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@ViewBag.Title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="~/DesignAssets/Mpurpose/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/DesignAssets/Mpurpose/css/icomoon-social.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="~/DesignAssets/Mpurpose/css/main.css">
        <script src="~/DesignAssets/Mpurpose/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body> 		
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <!DOCTYPE html>
		<html lang="en" endif="">
		<head>
			<meta charset="UTF-8">
			<title>Document</title>
		</head>
		<body>
			
		</body>
		</html>
        <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
	        <div class="container">
		         @await Component.InvokeAsync("Navigation", new {Template = "mpurpose", Culture = @ViewBag.Culture})
			</div>
		</div>
		@RenderBody()
	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<!--<div class="row">
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>Our Latest Work</h3>
		    			<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="~/DesignAssets/Mpurpose/img/portfolio6.jpg" alt="Project Name"></a>
							</div>
						</div>
		    		</div>
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>Navigate</h3>
		    			<ul class="no-list-style footer-navigate-section">
		    				<li><a href="page-blog-posts.html">Blog</a></li>
		    				<li><a href="page-portfolio-3-columns-2.html">Portfolio</a></li>
		    				<li><a href="page-products-3-columns.html">eShop</a></li>
		    				<li><a href="page-services-3-columns.html">Services</a></li>
		    				<li><a href="page-pricing.html">Pricing</a></li>
		    				<li><a href="page-faq.html">FAQ</a></li>
		    			</ul>
		    		</div>
		    		
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contacts</h3>
		    			<p class="contact-us-details">
	        				<b>Address:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br/>
	        				<b>Phone:</b> +44 123 654321<br/>
	        				<b>Fax:</b> +44 123 654321<br/>
	        				<b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
	        			</p>
		    		</div>
		    		<div class="col-footer col-md-2 col-xs-6">
		    			<h3>Stay Connected</h3>
		    			<ul class="footer-stay-connected no-list-style">
		    				<li><a href="#" class="facebook"></a></li>
		    				<li><a href="#" class="twitter"></a></li>
		    				<li><a href="#" class="googleplus"></a></li> 
		    			</ul>
		    		</div>
		    	</div>-->
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">@Html.Raw(@ViewBag.CopyrightNotice)</div>
						
		    		</div>
		    	</div>
		    </div>
	    </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="~/DesignAssets/Mpurpose/js/bootstrap.min.js"></script>        
        <script src="~/DesignAssets/Mpurpose/js/jquery.fitvids.js"></script>		        
        <script src="~/DesignAssets/Mpurpose/js/jquery.sequence-min.js"></script>
        <script src="~/DesignAssets/Mpurpose/js/jquery.bxslider.js"></script>
        <script src="~/DesignAssets/Mpurpose/js/main-menu.js"></script>
        <script src="~/DesignAssets/Mpurpose/js/template.js"></script>				
		@RenderSection("scripts", required: false)
			
<!--need to re write after fixing of 
			https://github.com/aspnet/Docs/issues/687#issuecomment-168711927
			https://github.com/aspnet/Mvc/issues/2910
			need to rewrite in Components >> cultures-->
			<!--Html.RenderPartial("_cultureOnTopPartial"); 			-->

@Html.Partial("_CultureOnTop")
@Html.Partial("_AlwaysOnTop")
@Html.Partial("_MatchHeight")
	</body>	
</html>	