@using Community.Model.Entities.ViewModels
@model BlogPostSingleViewModel
<div class="section section-breadcrumbs"> 
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						@if(@Model.Translated == true){						
							<h1>@Model.Title</h1>
						}
						else
						{
							<h1>@Model.Title @ViewBag.Culture Translation Not Found</h1>
						}
					</div> 
				</div>
			</div>
		</div>
        <div class="section">
	    	<div class="container">
				<div class="row">
					@if(ViewData["ComponentsToLoadBodyLeftSidePanel"] != null){
					<div class="col-sm-4 blog-sidebar">
							@foreach(var items in ViewData["ComponentsToLoadBodyLeftSidePanel"] as string[]){		
									@await Component.InvokeAsync("EakDamDynamic", new {WhatValue = items , culture= @ViewBag.Culture, template = @ViewBag.Template,canEdit = @ViewBag.CanEdit})
							}						
					</div>
					}		
					<!-- Blog Post -->
						<div class="col-sm-@(ViewBag.LayoutType.ToLower() == "middle" ? "12" : "8") ">					
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h3>@Model.Title</h3>
							</div>
							<div class="single-post-info">
								<i class="glyphicon glyphicon-time"></i>@Model.PublishDate								
								<!--<a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>-->
							</div>
							<div class="single-post-image">
								@if(Model.ImageUrl != null){
									@if(!Model.ImageUrl.ToLower().Contains(".")){
										<iframe width="100%" height="400" src="https://www.youtube.com/embed/@Model.ImageUrl" frameborder="0" allowfullscreen></iframe>
									}else
									{
										<img src="@Model.ImageUrl">
									}
								}
							</div>
							@if(@Model.Tag != null){
							<div class="single-post-tags"><BR>								
									<h3 style="display:inline">
										<a href="~/@Model.Tag.URL">
											<span class="label label-default">@Model.Tag.Name</span>
										</a>
									</h3>								
							</div>
							}
							<div class="single-post-content">
								@Html.Raw(Model.Content)
							</div>
								@if(Model.CommentAllowed){
								 <div id="disqus_thread">
           						 </div> 
									<script>
										/**
										*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
										*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
										*/
										var disqus_config = function () {
											this.page.url = 'http://masterstill.com/English/Blog/General/1/Amaazing-Things-To-Do-Now-!';//'@ViewBag.WebsiteName';  // Replace PAGE_URL with your page's canonical URL variable
											this.page.identifier = 'communitymaster'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
										};
										
										(function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
											var d = document, s = d.createElement('script');
											
											s.src = '//masterstill-com-1.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
											
											s.setAttribute('data-timestamp', +new Date());
											(d.head || d.body).appendChild(s);
										})();
									</script>
							}
							<!--</div>-->
							<!-- End Comments -->
						
						</div>
						@if(ViewData["ComponentsToLoadBody"] != null){
							@foreach(var items in ViewData["ComponentsToLoadBody"] as string[]){		
									@await Component.InvokeAsync("EakDamDynamic", new {WhatValue = items , culture= @ViewBag.Culture, template = ViewBag.Template})
							}
						}	
					</div>
					<!-- End Blog Post -->
					<!-- Sidebar -->
					@if(ViewData["ComponentsToLoadBodyRightSidePanel"] != null){
					<div class="col-sm-4 blog-sidebar">
							@foreach(var items in ViewData["ComponentsToLoadBodyRightSidePanel"] as string[]){		
									@await Component.InvokeAsync("EakDamDynamic", new {WhatValue = items , culture= @ViewBag.Culture, template = ViewBag.Template})
							}						
					</div>
					}						
					<!-- End Sidebar -->
				</div>
			</div>
	    </div>