@using Community.Model.Entities.ViewModels
@model TcViewModel
<h1>Hi There</h1>

   <select id="ComponentId" name="ComponentId"  onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
        @foreach(var items in Model.ThemeComponent){            
            <option value="/tcfm/getfields/@items.Id" @((items.Id.ToString() == ViewContext.RouteData.Values["ComponentId"].ToString()) ? "selected" : "")>@items.Title</option>
        }
   </select>

<form action="~/tcfm/getfields/@ViewContext.RouteData.Values["ComponentId"].ToString()" method="post">
        @foreach(var items in Model.ThemeComponentField){
            <input type="checkbox" id="@items.Id" name="@items.Id" value="@items.Id" @(items.Selected == true ? "checked =true" : "")>@items.Title
        }    
        <BR>
    <input type="submit">
</form>