
<section id="blog" class="scroll-section root-sec grey lighten-5 padd-tb-120 blog-wrap">
      <div class="container">
        <div class="row">
          <div class="blog-inner">
            <div class="col-sm-12 card-box-wrap">
              <div class="row">
                <div class="clearfix section-head blog-text">
                  <div class="col-sm-10">
                    <h2 class="title">@Html.Raw(ViewBag.HeaderText)</h2>
                    <p class="regular-text">@Html.Raw(ViewBag.SubHeaderText)</p>
                  </div>
                </div>
                <div class="clearfix card-element-wrapper" id="blog-posts" style="position: relative; height: 488px;">
                  @foreach(var item in Model){
                  <article class="col-sm-6 col-md-4 single-card-box single-post" style="position: absolute; left: 0px; top: 0px;">
                    <div class="card wow fadeInUpSmall animated" data-wow-duration=".7s" style="visibility: visible; animation-duration: 0.7s; animation-name: fadeInUpSmall;">
                      <div class="card-image">
                        <div class="card-img-wrap">
                          <div class="blog-post-thumb waves-effect waves-block waves-light">
                            <a href="@item.URL"><img class="activator" src="@item.ThumbnailUrl" alt="">
                            </a>
                          </div>
                          <div class="post-body">
                            <a href="@item.URL"class="post-title-link brand-text"><h2 class="post-title">@item.Title</h2></a>
                            <p class="post-content">
                              @item.Summary
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix card-content">
                        <a href="@item.URL" class="brand-text right waves-effect">@Html.Raw(ViewBag.ReadMore)</a>
                      </div>
                    </div>
                  </article> 
                  }
                </div>               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
}
