@using Community.Model.Entities.ViewModels;
@model IEnumerable<MenuViewModel>
<header id="navigation" class="root-sec white nav">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="nav-inner">
              <nav class="primary-nav">
                <div class="clearfix nav-wrapper">
                  <a href="http://@ViewBag.WebsiteName/@ViewBag.Culture" class="left brand-logo menu-smooth-scroll"><img src="@ViewBag.WebsiteLogo" alt="">
                  </a>
                  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>          
                  <ul class="inline-menu side-nav" id="mobile-demo">
                    @foreach(var item in Model){
                      <li><a href="~/@item.MenuUrl" class="menu-smooth-scroll"><i class="fa fa-user fa-fw"></i>@item.Name</a>
                      </li>
                    }	
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- .container end -->
    </header>

