<!DOCTYPE html>
<html lang="en">
<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>@ViewBag.Title</title>
		<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
		<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<link rel="stylesheet" href="~/DesignAssets/Lincon/Css/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="~/DesignAssets/Lincon/Css/font-awesome.min.css">
		<link rel="stylesheet" href="~/DesignAssets/Lincon/Css/animate.css">
		<link rel="stylesheet" href="~/DesignAssets/Lincon/Css/main.css">
		<link rel="stylesheet" href="~/DesignAssets/Lincon/Css/style.css">
		<link rel="stylesheet" href="~/DesignAssets/Lincon/Css/color.css">
		<link rel="stylesheet" href="~/DesignAssets/Lincon/Css/responsive.css">
		<link rel="stylesheet" href="~/DesignAssets/Lincon/Css/transition.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<script src="~/DesignAssets/Lincon/Js/vendor/modernizr.js"></script>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
	<div class="wrapper push-wrapper">
		<header>
					@await Component.InvokeAsync("Navigation", new {Template = "Lincon", Culture = @ViewBag.Culture})
		</header>
		<main class="main-content"> 
			@RenderBody()
		</main>
		<footer class="footer">
			<div class="sub-footer" align="center">
				<div class="copyright-container">
					@Html.Raw(@ViewBag.CopyrightNotice)				
				</div>
			</div>
		</footer>
	</div>
	<script src="~/DesignAssets/Lincon/Js/vendor/jquery.js"></script>        
	@Html.Partial("_CustomerSupport");
	<span id="scrollup" class="scrollup circle-btn"><i class="fa fa-angle-up"></i></span>
	<div class="login-form">
		<div class="modal fade login-modal">
		  	<div class="modal-content position-center-center tc-hover">
				<img src="@ViewBag.WebsiteLogo" alt="">
				<h4>::: Language Selection :::</h4>
						<ul>
							<li><a class="" href="#">English</a></li>
							<li><a class="" href="#">Arabic</a></li>
						</ul>
		  	</div>
		</div>
	</div>
	<script src="~/DesignAssets/Lincon/Js/vendor/bootstrap.min.js"></script>
	<script src="~/DesignAssets/Lincon/Js/jquery-ui.js"></script>		
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="~/DesignAssets/Lincon/Js/gmap3.min.js"></script>					
	<script src="~/DesignAssets/Lincon/Js/datepicker.js"></script>					
	<script src="~/DesignAssets/Lincon/Js/contact-form.js"></script>					
	<script src="~/DesignAssets/Lincon/Js/bigslide.js"></script>					
	<script src="~/DesignAssets/Lincon/Js/parallax.js"></script>			   	 
	<script src="~/DesignAssets/Lincon/Js/countdown.js"></script>	
	<script src="~/DesignAssets/Lincon/Js/countTo.js"></script>		
	<script src="~/DesignAssets/Lincon/Js/owl-carousel.js"></script>	
	<script src="~/DesignAssets/Lincon/Js/bxslider.js"></script>	
	<script src="~/DesignAssets/Lincon/Js/appear.js"></script>			 		
	<script src="~/DesignAssets/Lincon/Js/prettyPhoto.js"></script>			
	<script src="~/DesignAssets/Lincon/Js/isotope.pkgd.js"></script>			
	<script src="~/DesignAssets/Lincon/Js/main.js"></script>						
	</body>
</html>