<header>
						@Html.Raw(ViewBag.ContactHeader)
						@Html.Raw(ViewBag.ContactSubHeader)
					</header>
					<div>
						<div class="row">
							<div class="12u">
								<form method="post" action="#">
									<div>
										<div class="row">
											<div class="6u 12u(mobile)">
												<input type="text" name="name" id="name" placeholder="@ViewBag.ContactNamePlaceHolder" />
											</div>
											<div class="6u 12u(mobile)">
												<input type="text" name="email" id="email" placeholder="@ViewBag.ContactEmailPlaceHolder"" />
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<input type="text" name="subject" id="subject" placeholder="@ViewBag.ContactSubjectPlaceHolder"" />
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<textarea name="message" id="message" placeholder="@ViewBag.ContactMessagePlaceHolder""></textarea>
											</div>
										</div>
										<div class="row 200%">
											<div class="12u">
												<ul class="actions">
													<li><input type="submit" value="@ViewBag.ContactSubmitButton" /></li>
													<li><input type="reset" value="@ViewBag.ContactResetButton" class="alt" /></li>
												</ul>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<hr />
								<h3>Find me on ...</h3>
								<ul class="social">
									<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
									<!--<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>-->
									<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<!--<li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>-->
									<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
									<!--<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>-->
<!--									
									<li><a href="#" class="icon fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon fa-foursquare"><span class="label">Foursquare</span></a></li>
									<li><a href="#" class="icon fa-skype"><span class="label">Skype</span></a></li>
									<li><a href="#" class="icon fa-soundcloud"><span class="label">Soundcloud</span></a></li>
									<li><a href="#" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
									<li><a href="#" class="icon fa-blogger"><span class="label">Blogger</span></a></li>
									<li><a href="#" class="icon fa-flickr"><span class="label">Flickr</span></a></li>
									<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
									-->
								</ul>
								<hr />
							</div>
						</div>
					</div>