
<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>@ViewBag.Title</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

  <!-- Favicon-->
  <link rel="shortcut icon" href="images/favicon.png" >

  <!-- Stylesheets -->
  <link rel="stylesheet" href="~/DesignAssets/materialx/assets/css/normalize.css">
  <link rel="stylesheet" href="~/DesignAssets/materialx/assets/font/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="~/DesignAssets/materialx/assets/libs/materialize/css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="~/DesignAssets/materialx/assets/css/bootstrap.css" media="screen,projection" />

  <link rel="stylesheet" href="~/DesignAssets/materialx/assets/css/animate.min.css" media="screen,projection" />
  <link rel="stylesheet" href="~/DesignAssets/materialx/assets/libs/sweetalert/sweet-alert.css" media="screen,projection" />

  <link rel="stylesheet" href="~/DesignAssets/materialx/assets/libs/owl-carousel/owl.carousel.css" media="screen,projection" />
  <link rel="stylesheet" href="~/DesignAssets/materialx/assets/libs/owl-carousel/owl.transitions.css" media="screen,projection" />
  <link rel="stylesheet" href="~/DesignAssets/materialx/assets/libs/owl-carousel/owl.theme.css" media="screen,projection" />

  <link rel="stylesheet" href="~/DesignAssets/materialx/assets/css/main.css">
  <link rel="stylesheet" href="~/DesignAssets/materialx/assets/css/responsive.css">

  <!-- Choose your default colors -->
  <link rel="stylesheet" href="~/DesignAssets/materialx/assets/css/colors/color1.css">
  <!-- <link rel="stylesheet" href="~/DesignAssets/materialx/assets/css/colors/color2.css"> -->
  <!-- <link rel="stylesheet" href="~/DesignAssets/materialx/assets/css/colors/color3.css"> -->
  <!-- <link rel="stylesheet" href="~/DesignAssets/materialx/assets/css/colors/color4.css"> -->
  <!-- <link rel="stylesheet" href="~/DesignAssets/materialx/assets/css/colors/color5.css"> -->
  <!-- <link rel="stylesheet" href="~/DesignAssets/materialx/assets/css/colors/color6.css"> -->
  <!-- <link rel="stylesheet" href="~/DesignAssets/materialx/assets/css/colors/color7.css"> -->
  <!-- <link rel="stylesheet" href="~/DesignAssets/materialx/assets/css/colors/color8.css"> -->
  <!--[if lt IE 9]>
      <script src="~/DesignAssets/materialx/assets/js/html5shiv.js"></script>
  <![endif]-->
</head>

<body>


  <!-- start option panel -->
  <div id="switch">
      <div class="content-switcher">
          <p class="brand-text">Color Options:</p>
          <ul class="header">
              <li><a href="#" onclick="setActiveStyleSheet('color1'); return false;" class="button color switch" style="background-color:#00bcd4"></a></li>
              <li><a href="#" onclick="setActiveStyleSheet('color2'); return false;" class="button color switch" style="background-color:#ff4081"></a></li>
              <li><a href="#" onclick="setActiveStyleSheet('color3'); return false;" class="button color switch" style="background-color:#C043D5"></a></li>
              <li><a href="#" onclick="setActiveStyleSheet('color4'); return false;" class="button color switch" style="background-color:#73D077"></a></li>
              <li><a href="#" onclick="setActiveStyleSheet('color5'); return false;" class="button color switch" style="background-color:#FE7448"></a></li>
              <li><a href="#" onclick="setActiveStyleSheet('color6'); return false;" class="button color switch" style="background-color:#1ABBAC"></a></li>
              <li><a href="#" onclick="setActiveStyleSheet('color7'); return false;" class="button color switch" style="background-color:#EAB82E"></a></li>
              <li><a href="#" onclick="setActiveStyleSheet('color8'); return false;" class="button color switch" style="background-color:#799CAC"></a></li>
          </ul>
          <p class="brand-text">Menu Options:</p>
          <div class="menu-select" title="The menu will display in all devices">
              <input type="radio" id="menu1" name="intelligent-menu">
              <label for="menu1">Fixed</label>
          </div>
          <div class="menu-select" title="The menu will display or hide in all devices depending on scroll">
              <input type="radio" id="menu2" name="intelligent-menu" checked="checked">
              <label for="menu2">Intelligent ( Auto Hide )</label>
          </div>
          <div class="menu-select" title="Fixed menu will apply in non-mobile devices and Intelligent menu will apply in mobile devices">
              <input type="radio" id="menu3" name="intelligent-menu">
              <label for="menu3">Mobile Intelligent</label>
          </div>
          <div id="hide">
              <i class="fa fa-times"></i>
          </div>
      </div>
  </div>
  <div id="show" class="btn-floating waves-effect waves-light btn-large brand-text">
      <i class="fa fa-cog"></i>
  </div>
  <!-- end option panel -->

  <!-- Preloader --> 
    <div id="preloader">
      <div class="loader">
            <svg class="circle-loader" height="50" width="50">
              <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" />
            </svg>
        </div>    
    </div><!--preloader end-->

  <!-- Main Container -->
  <main id="app" class="main-section">
    
    @await Component.InvokeAsync("Navigation", new {Template = @ViewBag.Template, Culture = @ViewBag.Culture})
    
    @RenderBody()
    
    <footer id="footer" class="root-sec white root-sec footer-wrap">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="clearfix footer-inner">
              <ul class="left social-icons">
                <li><a href="#" class="tooltips tooltipped facebook" data-position="top" data-delay="50" data-tooltip="Facebook"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#" class="tooltips tooltipped linkedin" data-position="top" data-delay="50" data-tooltip="Linkdin"><i class="fa fa-linkedin"></i></a>
                </li>
                <li><a href="#" class="tooltips tooltipped twitter" data-position="top" data-delay="50" data-tooltip="Twitter"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#" class="tooltips tooltipped google-plus" data-position="top" data-delay="50" data-tooltip="Google Plus"><i class="fa fa-google-plus"></i></a>
                </li>
                <li><a href="#" class="tooltips tooltipped dribbble" data-position="top" data-delay="50" data-tooltip="Dribbble"><i class="fa fa-dribbble"></i></a>
                </li>
                <li><a href="#" class="tooltips tooltipped behance" data-position="top" data-delay="50" data-tooltip="Behance"><i class="fa fa-behance"></i></a>
                </li>
              </ul> 
              <div class="right copyright">
                <p>@Html.Raw(@ViewBag.CopyrightNotice)</p>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </footer>

  </main>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="~/DesignAssets/materialx/assets/js/jquery.easing.1.3.js"></script>
  <script src="~/DesignAssets/materialx/assets/js/detectmobilebrowser.js"></script>
  <script src="~/DesignAssets/materialx/assets/js/isotope.pkgd.min.js"></script>
  <script src="~/DesignAssets/materialx/assets/js/wow.min.js"></script>
  <script src="~/DesignAssets/materialx/assets/js/waypoints.js"></script>
  <script src="~/DesignAssets/materialx/assets/js/jquery.counterup.min.js"></script>
  <script src="~/DesignAssets/materialx/assets/js/jquery.nicescroll.min.js"></script>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="~/DesignAssets/materialx/assets/js/gmaps.js"></script>
  <script src="~/DesignAssets/materialx/assets/libs/owl-carousel/owl.carousel.min.js"></script>
  <script src="~/DesignAssets/materialx/assets/libs/materialize/js/materialize.min.js"></script>
  <script src="~/DesignAssets/materialx/assets/libs/jwplayer/jwplayer.js"></script>
  <script src="~/DesignAssets/materialx/assets/libs/sweetalert/sweet-alert.min.js"></script>
  <script src="~/DesignAssets/materialx/assets/js/common.js"></script>
  <script src="~/DesignAssets/materialx/assets/js/main.js"></script>
</body>@RenderSection("scripts", required: false)
@Html.Partial("_CultureOnTop") 
@Html.Partial("_AlwaysOnTop") 
@Html.Partial("_MatchHeight")
</html>

