
<!--model IEnumerable<TestViewModel>
using Community.Model.Entities.ViewModels;-->
<!--{
   var Templatename = "mpurpose";//ViewBag.Template;  //To Be Taken From Session
   Layout = "~/Views/Shared/Layouts/" + Templatename + "layout.cshtml";
   //Layout = null;
}-->
<!--<script>
	var images = '@Html.Raw(ViewBag.Data)'; 
</script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.3.0/ng-infinite-scroll.min.js"></script>
<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>@ViewBag.BreadCrumbText</h1>
					</div>
				</div>
			</div>
		</div>        
        <div class="section blog-posts-wrapper" ng-controller='DataController'> 
	    	<div class="container">
				<div class="row" infinite-scroll='loadMore()' infinite-scroll-distance='2'>					
					<div class="col-md-4 col-sm-6 post-holder" ng-repeat='item in data'>
						<div class="blog-post">
							<div class="post-info">
								<div class="post-date">
									<div class="date">{{item.createddate}}</div>
								</div>
							</div>
							<a iln-match-height href="{{item.url}}"><img src="{{item.thumbnailurl}}" class="post-image img-responsive" alt="{{item.title}}"></a>
							<div class="blog-details">
								<div class="post-title">
									<h3><a class="blog-title" href="{{item.url}}">{{item.title}}</a></h3>
								</div>
								<div class="post-summary">
									<p class="blog-summary">{{item.summary}}</p>
								</div>
								@if(@ViewData[ViewBag.WebsiteName + "ReadMore"] != null){
								<div class="post-more">
									<a href="{{item.url}}" class="btn btn-small">@viewdata[viewbag.websitename + "readmore"]</a>
								</div>
								}
							</div>
						</div>
					</div>				
				</div>
				@if(ViewData["ComponentsToLoadBody"] != null){
							@foreach(var items in ViewData["ComponentsToLoadBody"] as string[]){		
									@await Component.InvokeAsync("EakDamDynamic", new {WhatValue = items , culture= @ViewBag.Culture, template = ViewBag.Template})
							}
						}	
			</div>
	    </div>

<script>
	var myApp = angular.module('community', ['infinite-scroll']);
	myApp.controller('DataController', function($scope,$http) {
	$scope.data = [];
  	 $scope.loadMore = function() {
	 if ($scope.data == undefined){
		 var pageno = 0;
	 } 
	 else{
		 var pageno = ($scope.data.length)/ 10;
	 }
	 var url = '@ViewBag.ApiUrl' + pageno;
	 $http.get(url).success(function (res){
		$scope.data = $scope.data.concat(res);		
		});	     
  };
});
	angular.element(document).ready(function() {
      angular.bootstrap(document, ['community']);	  
    });
</script>

