@if(@ViewBag.CanEdit == true){
        <div class="dropdown" id="AlwaysOnTopMenu">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options
                <span class="caret"></span>
            </button>
                <ul class="dropdown-menu">
                    <li><a href="@ViewBag.EditPageLayoutUrl" target="_blank">Edit Page Layout Design</a></li>
                    <li><a href="@ViewBag.EditPageLayoutType" target="_blank">Edit Page LayoutType</a></li>
                    <li><a id="dialog_trigger">Open </a></li>
                </ul>
        </div>
        <style>        
            #AlwaysOnTopMenu {
                position: fixed;
                top: 0;
                z-index: 10000;
            }    
        </style>   
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

    <div id="dialog"></div>

    <script>
    $("#dialog").dialog({
        autoOpen: false,
        position: 'center' ,
        title: 'EDIT',
        draggable: false,
        width : 300,
        height : 500, 
        resizable : false,
        modal : true,
    }); 

    $("#dialog_trigger").click( function() {
        alert("Clicked!!");
        <!--$("#dialog").load('https://crossorigin.me/@ViewBag.EditPageLayoutUrl', function() {-->
        $("#dialog").load('@ViewBag.EditPageLayoutUrl', function() {
        // $("#dialog").load('http://aryan.sigdel.teamrockmandu.com', function() {
            $("#dialog").dialog("open");
        });
    })
    </script>
}