<script src="~/bower_components/matchHeight/jquery.matchHeight-min.js"></script>
<script>
				function TriggerMatchHeight(){										
						$('.post-image').matchHeight();
						$('.post-title').matchHeight();	
						$('.post-holder').matchHeight();
						$('.post-summary').matchHeight();									
				}
				
			setTimeout(function(){	
					TriggerMatchHeight()},300);
					setTimeout(function(){	
					TriggerMatchHeight()},600);
	        </script>