@{
	Layout = null;
}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>@ViewBag.Title</title>
<link href="~/DesignAssets/Construction/tools/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/DesignAssets/Construction/tools/jquery.min.js"></script> 
<script type="text/javascript" src="~/DesignAssets/Construction/tools/cufon-yui.js"></script>
<script type="text/javascript" src="~/DesignAssets/Construction/tools/CaramelNuggets_400.font.js"></script>
<script type="text/javascript" src="~/DesignAssets/Construction/tools/Gotham_Book_400.font.js"></script>
<script type="text/javascript">
	Cufon.replace('a.logo', {fontFamily: 'CaramelNuggets'});
	Cufon.replace('a.logo span', {fontFamily: 'Gotham Book'});
</script>
</head>
<body>
<div class="container">
	<div class="header">
		<a class="logo">@ViewBag.HeaderText<span>@ViewBag.SubHeaderText</span></a>
		<!--<ul class="social">
			<li class="fb"><a href="#"></a></li>
			<li class="tw"><a href="#"></a></li>
			<li class="yt"><a href="#"></a></li>
		</ul>-->
	</div>
	
	<div class="clear"></div>
	
	<div class="video">
		<!--<iframe width="500" height="278" src="@ViewBag.YouTubeUrl" frameborder="0" allowfullscreen></iframe>-->
		@if(@ViewBag.YouTubeUrl != null && @ViewBag.YouTubeUrl != ""){
			<iframe width="560" height="315" src="https://www.youtube.com/embed/@ViewBag.YouTubeUrl" frameborder="0" allowfullscreen></iframe>
		}
		@if(@ViewBag.Image != null && @ViewBag.Image != ""){
			<img src="@ViewBag.Image" width="560" height="315"/>
		}
	</div>
	
	<div class="coming_soon">
		@if((@ViewBag.FooterText != null) && (@ViewBag.FooterText != "")){
			<p>@ViewBag.FooterText</p>
		}
		else
		{
			<p>Hi, We will be launching soon ! Stay Tuned !</p>
		}
		<!--<form class="information">
			<div class="main">
				<input class="field" type="text" value="Enter Your Email Address" onfocus="if(this.value=='Enter Your Email Address') this.value='';" onblur="if(this.value=='' || this.value==' ') this.value='Enter Your Email Address';" />
				<input class="go" type="button" />
			</div>
		</form>-->
	</div>
</div>
</body>
</html>
