@using Community.Model.Entities.ViewModels
@model IEnumerable<CultureViewModel>
@if(Model != null){
@if(Model.Count() > 1){
    <!--<div class="dropdown choose-country">
						<a class="#" data-toggle="dropdown" href="#">Language</a>
						<ul class="dropdown-menu" role="menu">
    @foreach (var culture in Model)
    {
        <li role="menuitem"><a href="http://@ViewBag.WebsiteName/@culture.URL">@culture.Title</a></li>
    }
</ul>
</div>-->
<style>
    #fvpp-blackout {
    display: none;
    z-index: 499;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    }
    #CultureSelectionMessage {
    display: none;
    z-index: 500;
    position: fixed;
    width: 36%;
    left: 30%;
    top: 20%;
    padding: 20px 2%;
    font-family: Calibri, Arial, sans-serif;
    background: #FFF;
    }
    #fvpp-close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    }
    #fvpp-dialog h2 {
    font-size: 2em;
    margin: 0;
    }
    #fvpp-dialog p { margin: 0; }
</style>
<a id="show-message"><img src="~/images/multilingual.jpg"></a>
<!--<script src="jquery.firstVisitPopup.js"></script>-->
<div id="CultureSelectionMessage">
  @foreach (var culture in Model)
    {
        <h2 align="center">
            <a href="@(ViewBag.Culture == @culture.URL ? "#" : "http://" + @ViewBag.WebsiteName + "/" + @culture.URL)">@culture.Title</a>
        </h2>
        <!--<h2 align="center"><a id="fvpp-close" href="http://@ViewBag.WebsiteName/@culture.URL">@culture.Title</a></h2>-->
        <!--<li role="menuitem"><a href="http://@ViewBag.WebsiteName/@culture.URL">@culture.Title</a></li>-->
    }
  <!--<p>Hello, welcome to my website.</p>-->
</div>
}
}