@model IEnumerable<TestViewModel>
@using Community.Model.Entities.ViewModels;
@if (Model.Any()){
<div class="wrapper style3">
				<article id="@ViewBag.DivId"> 
					<header>
						@if(@ViewData["HeaderText"] != null){
							<h2>@Html.Raw(ViewData["HeaderText"])</h2>
						}
						@if(@ViewData["SubHeaderText"] != null){
							<p>@Html.Raw(@ViewData["SubHeaderText"])</p>
						}
					</header>
					<div class="container">
						<div class="row">
							@foreach(var item in Model){
							<div class="4u 12u(mobile) post-holder" >
								<article class="box style2">
									@if(item.ThumbnailUrl != null){
										<a href="@item.URL" class="image featured"><img class="post-image" src="@item.ThumbnailUrl" alt="" /></a>
									}
									<div class="post-title">
										<h3><a href="@item.URL">@item.Title</a></h3>
									</div>
									<p class="post-summary">@item.Summary</p>
								</article>
							</div> 
						}
						</div>
					</div>
					<footer>
						@if(@ViewData["FooterText"] != null){
							<p>@ViewData["FooterText"]</p>
						}
						@if(@ViewBag.ButtonText != null){
							<a href="@ViewData["ButtonUrl"]" class="button big scrolly">@ViewBag.ButtonText</a>
						}

					</footer>
				</article>
</div>
}