@using Community.Model.Entities.ViewModels 
@model IEnumerable<MenuViewModel>
<nav id="nav">
	<ul class="container">
		@foreach(var menu in Model){
			<li><a href="@menu.MenuUrl.ToLower()">@menu.Name</a></li>	
		}
			<li>@await Component.InvokeAsync("Culture", new {Template = @ViewBag.Template, Website= @ViewBag.WebsiteName ,Culture = @ViewBag.Culture})</li>					
	</ul>
</nav>